hnlLastStopCellInfo = '(
                           ( "tsmcN40" "nch" "auCdl" "53" "1586179850" )
                          ( "tsmcN40" "pch" "auCdl" "54" "1586179921" )
                       )
hnlLastTopViewWasConfig = 0
hnlLastMaxNameLength = 60
hnlLastNamePrefix = "hnl_"
hnlLastNetNamePrefix = "N"
hnlLastInstNamePrefix = ""
hnlLastModelNamePrefix = ""
hnlLastGlobalNetPrefix = "G"
hnlLastModulePrefix = "sub"
hnlLastHierarchyDelimiter = "."
hnlLastNetlistRevision = "__Revision2"
hnlLastOptimizeCellGenerationInConfig = nil
hnlLastMapNetFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapNetInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastInstNameDifferentFrom = '( )
hnlLastModelNameDifferentFrom = '( )
hnlLastNetNameDifferentFrom = '( )
hnlLastTermNameDifferentFrom = '( )
hnlLastParamNameDifferentFrom = '( )
hnlLastLibInfo = '(
                    ( "OpenRAM" "1718407096" )
                  )
hnlLastDesignVars = '( )
